<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Exchanges</title>
</head>
<body>
<h1>Exchanges</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Asset Class</th>
        <th>Locale</th>
        <th>Name</th>
        <th>Acronym</th>
        <th>MIC</th>
        <th>Operating MIC</th>
        <th>Participant ID</th>
        <th>URL</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="exchange : ${exchanges}">
        <td th:text="${exchange.id}"></td>
        <td th:text="${exchange.type}"></td>
        <td th:text="${exchange.asset_class}"></td>
        <td th:text="${exchange.locale}"></td>
        <td th:text="${exchange.name}"></td>
        <td th:text="${exchange.acronym}"></td>
        <td th:text="${exchange.mic}"></td>
        <td th:text="${exchange.operating_mic}"></td>
        <td th:text="${exchange.participant_id}"></td>
        <td th:text="${exchange.url}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
